# Superstore Sales Cleaning Notebook

This notebook performs basic cleaning and preprocessing for the Superstore Sales dataset.

**Steps:**
1. Load raw data from CSV
2. Inspect structure and missing values
3. Clean data types (dates, numeric columns)
4. Handle duplicates and missing values
5. Save a cleaned version for use in Power BI / SQL

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## 1. Load raw data

In [2]:
# Update the path to where your CSV is stored
raw_path = r'D:\GIT\superstoresales\Orders1.csv'
df = pd.read_csv(raw_path)  # adjust encoding if needed
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## 2. Inspect data structure and missing values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Row ID,9994.0,NaN,NaN,NaN,4997.5,2885.163629,1.0,2499.25,4997.5,7495.75,9994.0
Order ID,9994,5009,CA-2017-100111,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order Date,9994,1237,9/5/2016,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Date,9994,1334,12/16/2015,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ship Mode,9994,4,Standard Class,5968,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer ID,9994,793,WB-21850,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,9994,793,William Brown,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segment,9994,3,Consumer,5191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,9994,1,United States,9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,9994,531,New York City,915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,9994,49,California,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Postal Code,9994.0,NaN,NaN,NaN,55190.379428,32063.69335,1040.0,23223.0,56430.5,90008.0,99301.0
Region,9994,4,West,3203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product ID,9994,1862,OFF-PA-10001970,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,9994,3,Office Supplies,6026,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sub-Category,9994,17,Binders,1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product Name,9994,1850,Staple envelope,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sales,9994.0,NaN,NaN,NaN,229.858001,623.245101,0.444,17.28,54.49,209.94,22638.48
Quantity,9994.0,NaN,NaN,NaN,3.789574,2.22511,1.0,2.0,3.0,5.0,14.0
Discount,9994.0,NaN,NaN,NaN,0.156203,0.206452,0.0,0.0,0.2,0.2,0.8
Profit,9994.0,NaN,NaN,NaN,28.656896,234.260108,-6599.978,1.72875,8.6665,29.364,8399.976

In [5]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## 3. Clean data types

In [6]:
# Convert dates
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Ensure numeric columns are numeric
numeric_cols = ['Sales', 'Quantity', 'Discount', 'Profit']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df[numeric_cols].head()

      Sales  Quantity  Discount    Profit
0  261.9600         2      0.00   41.9136
1  731.9400         3      0.00  219.5820
2   14.6200         2      0.00    6.8714
3  957.5775         5      0.45 -383.0310
4   22.3680         2      0.20    2.5164

## 4. Handle duplicates

Superstore sometimes has repeated (Order ID, Product ID) lines that are valid.
Here we only drop **exact full-row duplicates**.

In [7]:
before = len(df)
df = df.drop_duplicates()
after = len(df)
print(f'Dropped {before - after} exact duplicate rows. Remaining: {after}')

Dropped 0 exact duplicate rows. Remaining: 9994

## 5. Handle missing values

In [8]:
# Example strategy: fill numeric NaNs with 0.
numeric_cols = ['Sales', 'Quantity', 'Discount', 'Profit']
df[numeric_cols] = df[numeric_cols].fillna(0)

# Example for categoricals (uncomment if needed):
# cat_cols = ['Category', 'Sub-Category', 'Region', 'Segment']
# df[cat_cols] = df[cat_cols].fillna('Unknown')

df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

## 6. Save cleaned dataset

In [9]:
clean_path = r'D:/GIT/superstoresales/orders_cleaned.csv'

df.to_csv(clean_path, index=False)
clean_path

'D:/GIT/superstoresales/orders_cleaned.csv'